
<h2>Chat with <%= @user.email.split('@')[0].capitalize %></h2>

<!--Showing previous conversations-->
<%= render partial: "messages/message", collection: @messages %>
<!--End-->

<!--Composer to send messages-->
<%= form_with model: Message.new, url: messages_path, remote: true do |form| %>
  <div class="input-group mb-3">
    <%= form.hidden_field :receiver_id, value: @user.id %>
    <%= form.text_field :body, class: "form-control" %>
    <div class="input-group-append">
      <%= form.submit "Send", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<!--End-->
<br>
<%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>


<style>
    h2{
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>